/************elementos de la carpeta utilities************/
/************elementos de la carpeta base************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h4 {
  font-family: "Outfit", sans-serif;
}

h2, h3 {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}

a {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}

label {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}

/************elementos de la carpeta layout************/
header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
header .logo img {
  height: 6.25rem;
}
header .navWrapper {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
header .navWrapper #toggle {
  display: none;
}
header .navWrapper label {
  display: none;
}
header .navWrapper label .material-icons {
  color: #FFE6A7;
  font-size: 2rem;
}
header .navWrapper .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .navWrapper .menu .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.5rem;
}
header .navWrapper .menu .navbar li {
  list-style: none;
}
header .navWrapper .menu .navbar li a {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  color: #FFE6A7;
}
header .navWrapper .menu .navbar li a:hover {
  color: #857345;
}

.carrucel {
  background-color: black;
}
.carrucel img {
  width: 100%;
}
.carrucel .textSuperpuesto {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.carrucel .textSuperpuesto h1 {
  font-size: 40px;
}
.carrucel .textSuperpuesto p {
  font-size: 18px;
  width: 25rem;
}

/* /////////////// destacados //////////////// */
.destacados, .novedades {
  background-color: black;
  padding-bottom: 2rem;
}
.destacados h4, .novedades h4 {
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.destacadosProductos, .nuevosIngresos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 4rem;
  text-align: center;
}
.destacadosProductos div img, .nuevosIngresos div img {
  height: 16rem;
  width: 16rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.destacadosProductos div h2, .nuevosIngresos div h2 {
  background-color: white;
  font-size: 1rem;
}
.destacadosProductos div h3, .nuevosIngresos div h3 {
  background-color: white;
  font-size: 1rem;
}

.destacadosProductos button, .nuevosIngresos button {
  background-color: #857345;
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
  font-size: 1rem;
  padding: 3px;
}

/*///////// marcas /////////*/
.marcas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.marcas .ocbLogo, .marcas .ocbLogo1, .marcas .ocbLogo2 {
  height: 3rem;
}
.marcas .gizehLogo, .marcas .gizehLogo1, .marcas .gizehLogo2 {
  height: 6.25rem;
}
.marcas .smokingLogo, .marcas .smokingLogo1, .marcas .smokingLogo2 {
  height: 6.25rem;
}

/* /////////seccion de nuevos ingresos///////// */
.novedades {
  background-color: #857345;
}

.nuevosIngresos button {
  background-color: black;
}

.tituloTabacos {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding: 2rem;
  border-top: #857345 solid 0.125rem;
  margin: 0;
}
.tituloTabacos span {
  color: #FFE6A7;
}

.listTabacos article {
  border-radius: 0.625rem;
  overflow: hidden;
  width: 15.625rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.listTabacos article img {
  width: 100%;
  height: 288px;
  object-fit: contain;
  align-self: center;
  background-color: white;
  overflow: hidden;
}
.listTabacos article div h2 {
  border-top: black solid 2px;
  background-color: white;
  justify-self: center;
  margin: 0;
}
.listTabacos article div h3 {
  background-color: white;
  justify-self: center;
  margin: 0;
}
.listTabacos article button {
  width: 100%;
  background-color: #857345;
  font-size: 1rem;
  color: white;
  padding: 3px;
  border: none;
  cursor: pointer;
}

.bannerPap {
  background-color: black;
}
.bannerPap img {
  width: 100%;
}

.tituloPap {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding: 2rem;
  border-top: #857345 solid 0.125rem;
  border-top: none;
}
.tituloPap span {
  color: #FFE6A7;
}

.listPap {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  gap: 1.5rem;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}

.tituloAccs {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding: 2rem;
  border-top: #857345 solid 0.125rem;
}
.tituloAccs span {
  color: #FFE6A7;
}

.listAccs, .listPap {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  gap: 1.5rem;
  justify-content: center;
  text-align: center;
}
.listAccs article, .listPap article {
  border-radius: 0.625rem;
  overflow: hidden;
}
.listAccs article img, .listPap article img {
  width: 16rem;
  height: 288px;
  object-fit: contain;
  background-color: white;
}
.listAccs article div h2, .listPap article div h2, .listAccs article div h3, .listPap article div h3 {
  background-color: white;
  justify-self: center;
  font-size: 16px;
}
.listAccs article button, .listPap article button {
  width: 100%;
  background-color: #857345;
  font-size: 1rem;
  color: white;
  padding: 3px;
}

.textVid {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding-top: 3rem;
}

.vidInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding-bottom: 1rem;
  background-color: black;
  flex-wrap: wrap;
}
.vidInfo iframe {
  width: 30rem;
}

.mainContactos {
  color: white;
  background-color: black;
  height: 100%;
  padding-bottom: 48px;
}
.mainContactos .tituloCont {
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: 1.25rem;
  border-top: #857345 solid 0.125rem;
}
.mainContactos .tituloCont span {
  color: #FFE6A7;
}

.bodyContactos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
}
.bodyContactos fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  border: none;
  width: 400px;
}
.bodyContactos fieldset input {
  border-radius: 0.625rem;
  height: 1.5rem;
  padding: 0.625rem;
}
.bodyContactos fieldset label {
  padding-top: 5px;
}
.bodyContactos fieldset #message {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 15rem;
}
.bodyContactos .enviar {
  width: 100%;
  background-color: #857345;
  font-size: 1rem;
  color: white;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.redesContactos {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.3125rem;
}
.redesContactos a {
  text-decoration: none;
  color: white;
  display: flex;
  padding-bottom: 0.625rem;
}
.redesContactos a img {
  height: 1.5rem;
  margin-right: 10px;
}

footer {
  border-top: #857345 solid 0.125rem;
  background-color: black;
  display: grid;
  width: 100%;
  height: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "section0 section0 section0" "section1 section2 section3" "section4 section4 section4";
  align-items: center;
  justify-items: center;
}
footer .logo {
  grid-area: section2;
  padding-bottom: 10px;
}
footer .logo img {
  height: 6.25rem;
}
footer .redesSociales {
  grid-area: section3;
  display: flex;
  gap: 1rem;
}
footer .redesSociales a {
  text-decoration: none;
}
footer .redesSociales a img {
  height: 1.5rem;
}

/************elementos de la carpeta components************/
/************elementos de la carpeta mediaquery************/
@media (max-width: 1245px) {
  .destacadosProductos, .nuevosIngresos {
    gap: 2rem;
    padding-bottom: 1.5rem;
  }
  .destacadosProductos div img, .nuevosIngresos div img {
    height: 13rem;
    width: 13rem;
  }
  .marcas .ocbLogo, .marcas .ocbLogo1, .marcas .ocbLogo2 {
    height: 2rem;
  }
  .marcas .gizehLogo, .marcas .gizehLogo1, .marcas .gizehLogo2, .marcas .smokingLogo, .marcas .smokingLogo1, .marcas .smokingLogo2 {
    height: 5.5rem;
  }
}
@media (max-width: 1024px) {
  header {
    padding-top: 0.625rem;
  }
  header .logo {
    padding-bottom: 0.625rem;
  }
  .carrucel .textSuperpuesto {
    left: 25%;
    top: 48%;
  }
  .destacados h4, .novedades h4 {
    font-size: 1.25rem;
  }
  .destacados div, .novedades div {
    gap: 2rem;
    padding-bottom: 1.5rem;
  }
  .destacados div img, .novedades div img {
    height: 12rem;
    width: 12rem;
  }
  .marcas {
    justify-content: space-around;
  }
  .marcas .ocbLogo, .marcas .ocbLogo1, .marcas .ocbLogo2 {
    height: 1.875rem;
  }
  .marcas .gizehLogo, .marcas .gizehLogo1, .marcas .gizehLogo2, .marcas .smokingLogo, .marcas .smokingLogo1, .marcas .smokingLogo2 {
    height: 5rem;
  }
  .tituloTabacos, .tituloPap, .tituloAccs, .tituloCont {
    padding-left: 4rem;
  }
}
@media (max-width: 900px) {
  .carrucel {
    height: 25rem;
  }
  .carrucel img {
    height: 100%;
    object-fit: cover;
  }
  .carrucel .textSuperpuesto {
    left: 50%;
    top: 58%;
    align-items: center;
    text-align: center;
  }
  .productoDestacado4, .nIngreso4 {
    display: none;
  }
}
@media (max-width: 768px) {
  .ocbLogo, .smokingLogo2 {
    display: none;
  }
  .tituloTabacos, .tituloPap, .tituloAccs, .tituloCont {
    text-align: center;
  }
  .mainContactos {
    height: 100%;
    padding-bottom: 1rem;
  }
  .mainContactos section {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .mainContactos section fieldset {
    width: 34.375rem;
  }
  .mainContactos .redesContactos {
    padding: 2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
  }
  footer .redesSociales img {
    height: 1.25rem;
  }
}
@media (max-width: 667px) {
  header .navWrapper {
    padding-left: 1rem;
  }
  header .navWrapper label {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
  }
  header .navWrapper .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: black;
  }
  header .navWrapper .menu .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
  header #toggle:checked ~ .menu {
    height: 100%;
  }
  .carrucel .textSuperpuesto {
    left: 50%;
    top: 55%;
    align-items: center;
    text-align: center;
  }
  .marcas .ocbLogo, .marcas .ocbLogo1, .marcas .ocbLogo2 {
    height: 1.875rem;
  }
  .marcas .smokingLogo, .marcas .smokingLogo1, .marcas .smokingLogo2, .marcas .gizehLogo, .marcas .gizehLogo1, .marcas .gizehLogo2 {
    height: 4rem;
  }
  .sectDest h4, .sectNov h4 {
    font-size: 1.125rem;
  }
  .sectDest div, .sectNov div {
    gap: 28px;
    padding-bottom: 1.5rem;
  }
  .sectDest div img, .sectNov div img {
    height: 11rem;
    width: 11rem;
  }
  .sectDest div h2, .sectNov div h2 {
    font-size: 14px;
  }
  .sectDest div h3, .sectNov div h3 {
    font-size: 14px;
  }
  .sectDest div button, .sectNov div button {
    font-size: 14px;
  }
  .bodyContactos fieldset {
    width: 420px;
  }
}
@media (max-width: 600px) {
  .productoDestacado3, .nIngreso3 {
    display: none;
  }
  .ocbLogo1, .ocbLogo2 {
    height: 1.6rem;
  }
  .marcas .ocbLogo1, .marcas .ocbLogo2 {
    height: 1.6rem;
  }
  .marcas .smokingLogo, .marcas .smokingLogo1, .marcas .gizehLogo, .marcas .gizehLogo1, .marcas .gizehLogo2 {
    height: 3rem;
  }
  .vidInfo iframe {
    width: 26.25rem;
    height: 100%;
  }
  .mainContactos section fieldset {
    width: 25rem;
  }
}
@media (max-width: 426px) {
  header .logo {
    padding: 0;
  }
  header .logo img {
    height: 5rem;
  }
  .navbar {
    gap: 16px;
  }
  .navbar a {
    font-size: 0.75rem;
  }
  .carrucel {
    height: 250px;
  }
  .carrucel img {
    height: 100%;
    object-fit: cover;
  }
  .carrucel .textSuperpuesto {
    left: 50%;
    top: 39%;
    align-items: center;
    text-align: center;
  }
  .carrucel .textSuperpuesto h1 {
    font-size: 1.25rem;
  }
  .carrucel .textSuperpuesto p {
    font-size: 12px;
    width: 320px;
  }
  .sectDest .listDes {
    gap: 1rem;
  }
  .sectDest .listDes .productoDestacado3 {
    display: none;
  }
  .marcas .gizehLogo, .marcas .gizehLogo1, .marcas .smokingLogo, .marcas .smokingLogo1 {
    height: 3rem;
  }
  .marcas .ocbLogo1, .marcas .ocbLogo2 {
    height: 1.6rem;
  }
  .marcas .gizehLogo2 {
    display: none;
  }
  .sectNov .listNov {
    gap: 1rem;
  }
  .sectNov .listNov .nIngreso3 {
    display: none;
  }
  .tituloPap, .tituloTabacos, .tituloAccs, .tituloCont {
    font-size: 20px;
    text-align: center;
    padding: 1rem;
  }
  .vidInfo iframe {
    width: 22.5rem;
  }
  .mainContactos section fieldset {
    width: 18.75rem;
  }
}
@media (max-width: 376px) {
  .tituloTabacos, .tituloPap, .tituloAccs, .tituloCont {
    font-size: 18px;
    text-align: center;
    padding: 1rem;
  }
  .sectDest, .sectNov {
    padding: 0;
  }
  .productoDestacado1, .nIngreso1, .gizehLogo {
    display: none;
  }
  .vidInfo iframe {
    width: 22.5rem;
    height: 15.625rem;
  }
  .mainContactos section fieldset {
    width: 17.5rem;
  }
}
@media (max-width: 320px) {
  .carrucel .textSuperpuesto p {
    width: 280px;
  }
  .marcas .smokingLogo1, .marcas .ocbLogo1 {
    display: none;
  }
  .tituloTabacos, .tituloPap, .tituloAccs, .tituloCont {
    font-size: 18px;
    padding: 1rem;
  }
  .vidInfo iframe {
    width: 18.75rem;
    height: 14.375rem;
  }
  .mainContactos section fieldset {
    width: 15.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
