@media (max-width: 900px){
    .carrucel{
        height: 25rem;
        img{
            height: 100%;
            object-fit: cover;
        }
        .textSuperpuesto{
            left: 50%;
            top: 58%;
            align-items: center;
            text-align: center;
        }
    }
    
    .productoDestacado4, .nIngreso4{
        display: none;
    }
}


