@media (max-width:600px){
    .productoDestacado3, .nIngreso3{
        display: none;
    }

    .ocbLogo1, .ocbLogo2{
        height: 1.60rem;
    }

   .marcas{
    .ocbLogo1, .ocbLogo2{
        height: 1.60rem;
    }
    .smokingLogo, .smokingLogo1,.gizehLogo, .gizehLogo1, .gizehLogo2 {
        height: 3rem;
    }
   }

   .vidInfo {
        iframe{
            width: 26.25rem;
            height: 100%;
        }
    }

    .mainContactos{
        section{
            fieldset{
                width: 25rem;
            }
        }
    }

}