@media(max-width: 1245px){
    .destacadosProductos{
        gap:2rem;
        padding-bottom: 1.5rem;
        div{
            img{
                height: 13rem;
                width: 13rem;
            }
        }
    }
    .marcas{
        .ocbLogo, .ocbLogo1, .ocbLogo2{
            height: 2rem;
        }
        .gizehLogo, .gizehLogo1, .gizehLogo2, .smokingLogo, .smokingLogo1, .smokingLogo2{
            height: 5.5rem;
        }
    }
       
    .nuevosIngresos{
        @extend .destacadosProductos;
    }
}
