header {
    background-color: $bg-primary;
    @include flex(column, center, center);
    padding-top: 1rem;
    .logo{
        img{
            height: 6.25rem;
        }
    }
    .navWrapper{
        width: 100%;
        margin: auto;
        padding: 1rem;
        #toggle{
            display: none;
        }
        label{
            display: none;
            .material-icons{
                color: $color-primary;
                font-size: 2rem;
            }
        }
        .menu{
            @include flex(row, center, center);
            flex-wrap: wrap;
            .navbar {
                @include flex(row, center, center);
                gap: 2rem;
                padding-bottom: .5rem;
                li{
                    list-style: none;
                    a{
                        font-family: 'Outfit', sans-serif;
                        text-decoration: none;
                        color: $color-primary;
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}