header {
    background-color: $bg-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    .logo{
        img{
            height: 6.25rem;
        }
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .navbar {
            display: flex; 
            flex-direction: row;
            gap: 2rem;
            padding-bottom: .5rem;
            li{
                list-style: none;
                a{
                    font-family: 'Outfit', sans-serif;
                    text-decoration: none;
                    color: $color-primary;
                    &:hover{
                        color: $color-secondary;
                    }
                }
            }
        }
    }
    .navWrapper{
        width: 100%;
        margin: auto;
        padding: 1rem;
        #toggle{
            display: none;
        }
        label{
            display: none;
            .material-icons{
                color: $color-primary;
                font-size: 2rem;
            }
        }
    }
}