.tituloAccs{
    @include titulo-principal(1.25rem, 2rem);
}
.listAccs{
    @include body-prduct;
    article{
        border-radius: .625rem;
        overflow: hidden;
    img{
        width: 16rem;
        height: 288px;
        object-fit: contain;
        background-color: white;
    }
    div{
        h2, h3{
            background-color: white;
            justify-self: center;
            font-size: 16px; 
        }
    }
    button{
        width: 100%;
        background-color:$bg-secondary;
        font-size: 1rem;
        color: white;
        padding: 3px;
    }
    }
}

.textVid{
    text-align: center;
    background-color: $bg-primary;
    color: white;
    font-size: 1.25rem;
    padding-top: 3rem;
}

.vidInfo {
    @include flex(row, center,center);
    gap:1.875rem;
    padding-bottom: 1rem;
    background-color: $bg-primary;
    flex-wrap: wrap;
    iframe{
        width: 30rem;
    }
}


