h1, h4{
    font-family: 'Outfit', sans-serif;
}

h2, h3{
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
}
a{
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem; 
}

label{
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
}

p{
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
}